<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="friends_groups" method="post">
	<h1>Поиск групп с друзьями</h1>
	<p>
		Инструкция: чтобы начать работу - ведите ссылку на профиль вк пользователя, группы которого вы хотите
		проверить (обратите внимание, что на странице должны быть доступны для просмотра друзья и группы пользователя).
		После начала работы программы, вам предложат авторизоваться в вк,
		пожалуйста сделайте это сами. В дальнейшем вмешательство не потребуется.
		В качестве простого и быстрого примера можете использовать страницу: https://vk.com/id614437740
	</p>
	<p>
		<label id="url">Ссылка на профиль пользователя: </label>
		<input type="text" name="url">
	</p>
	<p>
	    <input type="submit">
	</p>
</form>
</body>
</html>